body {
    font-family: Garamond;
    font-size: 12pt;
    background-color: #FAF9F6; 
}
body div{
    padding: 10px;
}


h1 {
    margin-top: 2em; /*edit for tablet*/
    font-family: System, sans-serif;
    font-size: 12vw;
    color: #3d5349;
    font-weight: 400;
    text-align: center;


}


@keyframes header_one_mobile {
    from {
        margin-top: -1em;
    }

    to {
        margin-top: 2em;
    }
}

@keyframes header_one_tablet {
    from {
        margin-top: -1em;
    }

    to {
        margin-top: 1.5em;
    }
}

@keyframes header_one_laptop {
    from {
        margin-top: -1em;
    }

    to {
        margin-top: 2em;
    }
}


h2{
    font-family:'Gill Sans', sans-serif;
    font-size: 20pt;
    text-align: center;
}

h3{
    font-family: 'Gill Sans', sans-serif;
    font-size: 15pt;
    padding-bottom: 10pt;
}


/*links*/
a{
    color: black;
}

a:visited{
    color:black;
}

a:hover{
    text-decoration:none;
    text-transform: uppercase;
}


/*heading*/

.skip a {
    /*skip to main content styling*/
    background: #FAF9F6;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0px;
}

.skip a:focus {
   position: absolute;
   top: 90px;
}


header.home-page {
    /*F2F2EA*/
    background: url(../images/home_background.jpg);
    z-index: 0;
    background-attachment: fixed; /* Parallax effect */
    background-repeat: no-repeat;
    background-position: center; /* Parallax effect */
    background-color: #FAF9F6;
    background-size: cover; /* Parallax effect */
    height: 98vh; /* Parallax effect */
}


header p {
    font-family: 'Gill Sans', sans-serif ;
    font-size: .5em;
}

img#logo_initial{
   width: 6em;
}

nav{
    text-align: left;
 }



 /*dropdown menu most from bootstrap*/

a.nav-link.active {
    background: #829e92;
    text-decoration: underline;
}

.navbar {
    display: flex;
    /*color: #3d5349; #829e92 #FAF9F6*/
    background-color: #FAF9F6;
}

.dropdown-menu.show {
    background-color: #FAF9F6;
    border: none;
    border-radius: 0;
}
a.dropdown-item:hover {
    background: #FAF9F6;
}

a.dropdown-item:hover {
    color: rgba(0,0,0,.55);
}

a .dropdown-item.active {
   color: rgba(0,0,0,.55);
   background: #829e92;
    text-decoration: underline;
}


/*text sections*/
.body_text{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    line-height: 2em;
    font-size: 14pt;
}

/*just for the home page*/
#intro_bio, #software_skills {
    background: #829e92;
    padding-top: 3em;
    padding-bottom: 3em;
}

#project_list {
    font-size: 14pt;
    line-height: 2em;
    padding: 4em 4em 8em 4em;
    background: #FAF9F6;

}

/*photo and title for just the home page*/
#home_header {
    margin-top: 0em;
    width: 95%;
    line-height: 1;
    padding: 200px 0;
    text-align: center;
    font-size: 15vw;
}


/* sets grid for main page */
.container-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* sets flipcard*/
.flip_card { /*these items also refer to flex*/
    background-color: transparent;

}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

a#flip_card_inner:hover {
    text-decoration: none;
    text-transform: none; /*overides other link action*/
}

a#flip_card_inner{
    text-decoration: none;
}

.flip_card:hover .flip_card_inner,
.flip_card:focus-within .flip_card_inner,
.flip_card:active .flip_card_inner,
.flip_card:focus .flip_card_inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip_card_front {
    background-color: #829e92;
    font-size: 14pt;
    line-height: 2em;
}

.flip_card_back {
    display: flex;
    justify-content: center;
    background-color: #FAF9F6;
    transform: rotateY(180deg);
}

/*for the about page*/
#resumepdf{
    margin-top: 2em;
   width:95%;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;
}

.about_container{
    display:grid;
    grid-template-columns: 1fr;
}
 

/*for the portfolio page*/

    /*not used since portfolio is not a pdf*/
#portfoliopdf {
    margin-top: 2em;
    width: 100%;
    height: 100vh;
}

.portfolio_container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
   
}

.portfolio_container > img {
    width: 75vw;
    margin: 10px;
    align-self: center;
}


/*for the artwork page*/
form{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 200px;
}

.artwork-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
}

input[type=text], input[type=email]  {
    font-family: 'Garamond';
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3d5349;
    color: #FAF9F6;
} 

.my_pictures > img {
    box-shadow: 7px 7px 2px #3d5349;
}

.my_pictures { /*these items also refer to flex*/
    background-color: transparent; 
    width: 300px;
    height: auto;

}




/*for the linked work page*/
.project_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.project_container > img{
  margin-top: 10px;  
}

.project_container.flip_card {
    width: 30%;
    height: 30%;
    margin: 10px;
}

p.project_info {
    padding: 2em;
    text-align: center;
}


/*for the architecture page*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr repeat(5,5fr);
    align-items: center;
    row-gap: 10px;
   /* place-items: center; short hand to center vertically and horizontally*/
}

    .container p {
        font-family: 'Gill Sans';
        grid-column: 2 / 3;
        background-color: rgba(16, 32, 25, 0.7);
        color: #FAF9F6;
        justify-self: stretch;
        align-self: stretch;
        padding: 2em;
        font-size: 15pt;
    }


    .container div {
        background-color: rgba(16, 32, 25, 0.7);
        justify-self: stretch;
        align-self: center;
        grid-column: 1/-1;
        overflow: hidden;
    }

div.filter_div.arch.ug1p1{
    grid-row: 2 / span 1;
}

p.ug1p1{
    grid-row: 2 / span 1;
    

}
 
div.filter_div.art{
    grid-row: 3 / span 1;
}

p.art{
    grid-row: 3 / span 1;
    
}

div.filter_div.arch.ug1p2{
    grid-row: 4 / span 1;
}

p.ug1p2{
    grid-row: 4 / span 1;
    
}

div.filter_div.arch.c211{
    grid-row: 5 / span 1;
}

p.c211{
    grid-row: 5 / span 1;
    
}

div.filter_div.arch.c218{
    grid-row: 6 / span 1;
}

p.c218{
    grid-row: 6 / span 1;
    
}





        /*footer*/
 footer {
     display: flex;
    justify-content: center;
    padding: 10px;
   left: 0px;
   right: 0px;
   bottom: 0px;
    /*background-color: #9cb8ab;*/
    background-color: #FAF9F6;
   /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,2); */
}

footer img{
    width:30px;
    height: auto;
    margin: 10px;
}





/* tablet view */
@media screen and (min-width: 768px) {


    .body_text {
       /* width: 70%; */
        text-align: left;
    }

    /*for the nav bar*/
    .navbar {
        flex-direction: column;
    }

    h1 { /*changed for the linked pages overriden for homepage*/
        margin-top: 1.5em;
        font-size: 70pt;
        font-weight: 700;
        text-align: right;
        padding-right: 75px;

    }

    h2 { /*changed for the linked pages overriden for homepage*/
        text-align: right;
        padding-right: 75px;
    }

    /* home page */
    /* sets columns and rows for main page */
    .container-main {   
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr; 
    }

    /* fixes the overarching ruleset stated in body_text*/
    #intro_bio {
        width: auto;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #project_list{
        width: auto;
        grid-row: 1 / 3;
        grid-column: 2 /3;
    }

    #software_skills{
        width: auto;
        grid-row: 2 / 3;
        grid-column: 1 /3;
    }

    /* fixes the overarching ruleset stated in h2*/
    .homepage_h2 {
        text-align: center;
    }


    /* about page */
    .about_container{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 150px 3fr;
    }
    img#headshot {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 40px;
        /*width: 50%;
        height: auto;
        padding-left: 3em;*/
    }
    .about_textdiv{
        grid-column: 2 /3;
        grid-row: 2 / -1;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    #resumepdf {
        margin-right: 50px;
        margin-left: 50px;
        height: 1000px;
        width: 90%;
    }


    /*for the work page */
      .container{
          grid-template-rows: 1fr repeat(5,4fr);
      }
        .container p {
            padding: 2em;
            font-size: 20pt;
        }


        .container div {
            /*  background-color: rgba(16, 32, 25, 0.7);
            justify-self: stretch;
            align-self: center; 
              overflow: hidden;
          */
            grid-column: 1/ 2;
        }

    /*for linked work pages*/

    /*for the linked work page*/
    .project_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    p.project_info{
       
        text-align:right;
        padding-left: 300px;
        padding-right: 75px;
    }




    /*for artwork page*/

    .artwork-container {
        padding: 20px;
    }
    /*include flip card*/
    /*use flex here*/
}

@media screen and (min-width: 1280px) {
    h1 { /*changed for the linked pages overriden for homepage*/
        margin-top: 2em;
        font-size: 50pt;
        font-weight: 600;
        text-align: center;

    }

    h2 { /*changed for the linked pages overriden for homepage*/
        text-align: center;
        padding-right: 75px;
    }

    .body_text {
        text-align: center;
        padding-left: 100pt;
        padding-right: 100pt;
        width: 98%;

    }

    /*for the nav bar*/
    .navbar {
        flex-direction: row;
    }

    /* home page */

    #home_header {
        font-size: 120pt;
    }


    /* sets 2 columns for main page */
    .container-main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /* fixes the overarching ruleset stated in body_text*/
    #intro_bio {
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
    }

    #project_list {
        
        grid-row: 1 / 2;
    }

    #software_skills {
       
        grid-row: 1/ 2;
        grid-column: 3 / 4;
    }

    
    /*linked pages*/

    p.project_info{
        text-align: center;
        padding: 30pt;
    }


    /*about*/
    .about_container{
        grid-template-rows: 50px 3fr;
    }
    img#headshot {
      padding-left: 100px;
      padding-right: 25px;
    }

    .about_text{
        text-align: left;
    }


   

    /*work pages*/
    .container{
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    div.filter_div.art {
        grid-row: 2 / span 1;
        grid-column: 3 / 4;
    }

    p.art {
        grid-row: 2 / span 1;
        grid-column: 4 / 5;
    }

    div.filter_div.arch.ug1p2 {
        grid-row: 3 / span 1;
        grid-column: 1 / 2 ;
    }

    p.ug1p2 {
        grid-row: 3 / span 1;
        grid-column: 2 / 3;
    }

    div.filter_div.arch.c211 {
        grid-row: 3 / span 1;
        grid-column: 3 / 4;
    }

    p.c211 {
        grid-row: 3 / span 1;
        grid-column: 4 / 5;
    }

    div.filter_div.arch.c218 {
        grid-row: 4 / span 1;
        grid-column: 1 / 2;
    }

    p.c218 {
        grid-row: 4 / span 1;
        grid-column: 2 / 3;
    }


    /*artwork*/
    @keyframes rotate {
        50% {
            transform: rotate(360deg);
        }
    }

    div.my_pictures:hover{
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 2s;
    }
    .artwork-container {
        padding: 40px;
    }
}

@media (prefers-reduced-motion) {
    header.home-page {
        background-attachment: initial;
    }

    div.my_pictures:hover {
        animation: none;
    }

    h1 {
        animation: none;
    }

    .flip_card:hover .flip_card_inner,
    .flip_card:focus-within .flip_card_inner,
    .flip_card:active .flip_card_inner,
    .flip_card:focus .flip_card_inner{
        transform:none;
    }

    /* Position the front and back side */
    .flip_card_front, .flip_card_back {
        position:relative;
        -webkit-backface-visibility: visible; /* Safari */
        backface-visibility: visible;
    }
    .flip_card_front{
            height: 80%;
    }

     .flip_card_back {
            height: 20%;
            margin: 0;
            transform: none;
     }
}